@font-face {
	font-family: "Roboto", sans-serif;
	font-display: swap;
	src: local("Roboto-Regular"),
		url(../../../assets/fonts/Roboto-Regular.woff) format("woff"),
		url(../../../assets/fonts/Roboto-Regular.ttf) format("truetype");
	font-weight: 400;
	font-style: normal;
}

.container {
	font-family: "Roboto", sans-serif;
}

.title {
	margin-top: 40px;
	text-align: center;
	font-size: 40px;
	color: rgb(0, 0, 3);
}

.form-wrapper {
	margin: 0 auto;
	margin-top: 40px;
	width: 650px;
	border: 2px solid rgb(0, 0, 3);
	border-radius: 5px;
	background: -webkit-gradient(
		linear,
		left top, right top,
		from(rgba(107, 103, 172, 1)),
		color-stop(44%, rgba(198, 222, 247, 1)),
		to(rgba(106, 150, 238, 1))
	);
	background: -o-linear-gradient(
		left,
		rgba(107, 103, 172, 1) 0%,
		rgba(198, 222, 247, 1) 44%,
		rgba(106, 150, 238, 1) 100%
	);
	background: linear-gradient(
		90deg,
		rgba(107, 103, 172, 1) 0%,
		rgba(198, 222, 247, 1) 44%,
		rgba(106, 150, 238, 1) 100%
	);
	padding: 40px;
	text-align: center;
}

.form {
	width: 50%;
	margin: 0 auto;
}

label {
	font-size: 18px;
}

label:not(:first-child),
label:not(:last-child) {
	margin-top: 20px;
}

.form-inputs {
	width: 300px;
	margin: 0 auto;
	margin-top: 20px;
}

.form-inputs__label-name {
	margin-right: 40px;
}

.form-inputs__input {
	border-radius: 5px;
}

.form-inputs__input:focus {
	-webkit-box-shadow: 2px 2px rgb(93, 150, 255);
	        box-shadow: 2px 2px rgb(93, 150, 255);
}

.form-btn {
	margin: 0 auto;
	margin-top: 40px;
	width: 220px;
	height: 60px;
	font-size: 25px;
}

.data {
	border: 2px solid #000;
	background-color: rgb(196, 245, 238);
	color: rgb(0, 0, 3);
	padding: 40px;
	margin-top: 40px;
	text-align: center;
	overflow-wrap: break-word;
}

.link {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	background-color: rgb(93, 150, 255);
	border: 2px solid rgb(10, 70, 182);
	border-radius: 5px;
	width: 300px;
	height: 60px;
	text-align: center;
	color: ghostwhite;
	font-size: 20px;
	margin: 0 auto;
	margin-top: 60px;
	margin-bottom: 20px;
}

.link:hover {
	background-color: rgb(78, 80, 218);
	border-color: rgb(6, 62, 167);
	color: rgb(243, 243, 253);
	-webkit-transition: all 1.5s;
	-o-transition: all 1.5s;
	transition: all 1.5s;
}

.link:focus {
	outline: rgb(140, 2, 253);
	-webkit-box-shadow: 2px 2px 2px rgb(140, 2, 253);
	        box-shadow: 2px 2px 2px rgb(140, 2, 253);
	color: rgb(243, 243, 253);
}

@media (max-width: 992px) {
	.form-wrapper {
		width: auto;
	}

	.form {
		width: 60%;
	}

	.form-inputs {
		width: auto;
	}
}

@media (max-width: 575px) {
	.title {
		font-size: 35px;
	}

	.form {
		width: auto;
	}
}

@media (max-width: 392px) {
	.form-inputs__label-name {
		margin-right: 38px;
	}

	.link {
		width: 250px;
	}
}
